*{
    font-family: Arial, Helvetica, sans-serif;
}

header, .Video, .Detalles, .DetalleNombre{
    text-align: center;
}

#UnidadesRest, #Usuario, #DetailName{
    width: 15%;
}

#Descrip{
    width: 75%;
    overflow:auto;
}

#NewComment{
    width: 100%;
    overflow: auto;
}

#UnidadesRest{
    -moz-appearance: textfield;
}

.Imags{
    width: 100%;
    text-align: center;
    border :0px;
}